@import "compass/css3";
@import "_animation";

html {
  background: black;
}

.container {
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 910px;
  height: 479px;
  margin-left: -455px;
  margin-top: -240px;

}


.background {
  background: #000000;
  position: absolute;
  height: 479px;
  width: 3000px;
}

.coin {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -16px;
  margin-top: -16px;
  background: url('../images/banana.png') no-repeat;
}

.scoreboard {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.45);
  font: bold 40px/80px sans-serif;
  width: 200px;
  text-align: center;
  color: white;
}

.platform {
  background-color: #bada55;
  position: absolute;
  @include border-radius(5px);
}

.player {
  height: 100px;
  left: 0;
  margin-left: -42px;
  margin-top: -100px;
  position: absolute;
  top: 0;
  width: 84px;

  div {margin: 0; padding: 0;}
  div div {background: #A4CA39; position: relative;}

  .pumba{
    background: url('../images/pumba.png') no-repeat;
  }

  .pumbafall{
    background: url('../images/pumba2.png') no-repeat;
  }

  .android{
    height: 404px; width: 336px;
    
    @include transform-origin(0, 0);
    @include transform(scale(0.248, 0.248));
  }
  .head{
    width: 220px; height: 100px;
    top: 32px;
    left: 58px;
    
    @include border-radius(110px 110px 0 0);
  }
  .l_eye, .r_eye {
    background: #fff;
    width: 20px; height: 20px;
    position: absolute; top: 42px;
    
    @include border-radius(10px);
  }
  .l_eye {left: 50px;}
  .r_eye {right: 50px;}

  .l_ant, .r_ant{
    width: 6px; height: 50px;
    position: absolute; top: -34px;
    
    @include border-radius(3px);
  }
  .l_ant {
    left: 50px;
    @include transform(rotate(-30deg));
  }
  .r_ant {
    right: 50px;
    @include transform(rotate(30deg));
  }

  .body{
    width: 220px; height: 184px;
    top: 40px;
    left: 58px;
    
    @include border-radius(0 0 25px 25px);
  }

  .l_arm, .r_arm, .l_leg, .r_leg {
    width: 50px; position: absolute;
  }
  .l_arm, .r_arm {
    height: 150px;
    @include transition(all 0.15s);
    @include border-radius(25px);
  }
  .l_leg, .r_leg {
    height: 100px; top: 162px;
    @include transform-origin(50%, 25px);
    @include border-radius(0 0 25px 25px);
  }
  .l_arm {left: -58px;}
  .r_arm {right: -58px;}
  .l_leg {left: 45px;}
  .r_leg {right: 45px;}

  &.walking .l_leg {
    @include animation(player-walk-left 0.15s linear infinite alternate);
  }

  &.walking .r_leg {
    @include animation(player-walk-right 0.15s 0.15s linear infinite alternate);
  }

  &.jumping .r_arm {
    @include transform-origin(50%, 0);
    @include transform(rotate(-180deg));
  }
}

@include keyframes(player-walk-left) {
  from {
    @include transform(rotate(0));
  }
  to {
    @include transform(rotate(30deg));
  }
}

@include keyframes(player-walk-right) {
  from {
    @include transform(rotate(0));
  }
  to {
    @include transform(rotate(-30deg));
  }
}