/* line 4, ../../app/styles/main.scss */
html {
  background: black;
}

/* line 8, ../../app/styles/main.scss */
.container {
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 910px;
  height: 479px;
  margin-left: -455px;
  margin-top: -240px;
}

/* line 19, ../../app/styles/main.scss */
.background {
  background: #000000;
  position: absolute;
  height: 479px;
  width: 3000px;
}

/* line 26, ../../app/styles/main.scss */
.coin {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -16px;
  margin-top: -16px;
  background: url("../images/banana.png") no-repeat;
}

/* line 35, ../../app/styles/main.scss */
.scoreboard {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  font: bold 40px/80px sans-serif;
  width: 200px;
  text-align: center;
  color: white;
}

/* line 46, ../../app/styles/main.scss */
.platform {
  background-color: #bada55;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 52, ../../app/styles/main.scss */
.player {
  height: 100px;
  left: 0;
  margin-left: -42px;
  margin-top: -100px;
  position: absolute;
  top: 0;
  width: 84px;
}
/* line 61, ../../app/styles/main.scss */
.player div {
  margin: 0;
  padding: 0;
}
/* line 62, ../../app/styles/main.scss */
.player div div {
  background: #A4CA39;
  position: relative;
}
/* line 64, ../../app/styles/main.scss */
.player .pumba {
  background: url("../images/pumba.png") no-repeat;
}
/* line 68, ../../app/styles/main.scss */
.player .pumbafall {
  background: url("../images/pumba2.png") no-repeat;
}
/* line 72, ../../app/styles/main.scss */
.player .android {
  height: 404px;
  width: 336px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.248, 0.248);
  -moz-transform: scale(0.248, 0.248);
  -ms-transform: scale(0.248, 0.248);
  -o-transform: scale(0.248, 0.248);
  transform: scale(0.248, 0.248);
}
/* line 78, ../../app/styles/main.scss */
.player .head {
  width: 220px;
  height: 100px;
  top: 32px;
  left: 58px;
  -webkit-border-radius: 110px 110px 0 0;
  -moz-border-radius: 110px 110px 0 0;
  -ms-border-radius: 110px 110px 0 0;
  -o-border-radius: 110px 110px 0 0;
  border-radius: 110px 110px 0 0;
}
/* line 85, ../../app/styles/main.scss */
.player .l_eye, .player .r_eye {
  background: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 42px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 92, ../../app/styles/main.scss */
.player .l_eye {
  left: 50px;
}
/* line 93, ../../app/styles/main.scss */
.player .r_eye {
  right: 50px;
}
/* line 95, ../../app/styles/main.scss */
.player .l_ant, .player .r_ant {
  width: 6px;
  height: 50px;
  position: absolute;
  top: -34px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 101, ../../app/styles/main.scss */
.player .l_ant {
  left: 50px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
/* line 105, ../../app/styles/main.scss */
.player .r_ant {
  right: 50px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
/* line 110, ../../app/styles/main.scss */
.player .body {
  width: 220px;
  height: 184px;
  top: 40px;
  left: 58px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -ms-border-radius: 0 0 25px 25px;
  -o-border-radius: 0 0 25px 25px;
  border-radius: 0 0 25px 25px;
}
/* line 118, ../../app/styles/main.scss */
.player .l_arm, .player .r_arm, .player .l_leg, .player .r_leg {
  width: 50px;
  position: absolute;
}
/* line 121, ../../app/styles/main.scss */
.player .l_arm, .player .r_arm {
  height: 150px;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
/* line 126, ../../app/styles/main.scss */
.player .l_leg, .player .r_leg {
  height: 100px;
  top: 162px;
  -webkit-transform-origin: 50% 25px;
  -moz-transform-origin: 50% 25px;
  -ms-transform-origin: 50% 25px;
  -o-transform-origin: 50% 25px;
  transform-origin: 50% 25px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -ms-border-radius: 0 0 25px 25px;
  -o-border-radius: 0 0 25px 25px;
  border-radius: 0 0 25px 25px;
}
/* line 131, ../../app/styles/main.scss */
.player .l_arm {
  left: -58px;
}
/* line 132, ../../app/styles/main.scss */
.player .r_arm {
  right: -58px;
}
/* line 133, ../../app/styles/main.scss */
.player .l_leg {
  left: 45px;
}
/* line 134, ../../app/styles/main.scss */
.player .r_leg {
  right: 45px;
}
/* line 136, ../../app/styles/main.scss */
.player.walking .l_leg {
  -webkit-animation: player-walk-left 0.15s linear infinite alternate;
  -moz-animation: player-walk-left 0.15s linear infinite alternate;
  -ms-animation: player-walk-left 0.15s linear infinite alternate;
  -o-animation: player-walk-left 0.15s linear infinite alternate;
  animation: player-walk-left 0.15s linear infinite alternate;
}
/* line 140, ../../app/styles/main.scss */
.player.walking .r_leg {
  -webkit-animation: player-walk-right 0.15s 0.15s linear infinite alternate;
  -moz-animation: player-walk-right 0.15s 0.15s linear infinite alternate;
  -ms-animation: player-walk-right 0.15s 0.15s linear infinite alternate;
  -o-animation: player-walk-right 0.15s 0.15s linear infinite alternate;
  animation: player-walk-right 0.15s 0.15s linear infinite alternate;
}
/* line 144, ../../app/styles/main.scss */
.player.jumping .r_arm {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

@-moz-keyframes player-walk-left {
  /* line 151, ../../app/styles/main.scss */
  from {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 154, ../../app/styles/main.scss */
  to {
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@-webkit-keyframes player-walk-left {
  /* line 151, ../../app/styles/main.scss */
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 154, ../../app/styles/main.scss */
  to {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@-o-keyframes player-walk-left {
  /* line 151, ../../app/styles/main.scss */
  from {
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 154, ../../app/styles/main.scss */
  to {
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@-ms-keyframes player-walk-left {
  /* line 151, ../../app/styles/main.scss */
  from {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 154, ../../app/styles/main.scss */
  to {
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@keyframes player-walk-left {
  /* line 151, ../../app/styles/main.scss */
  from {
    transform: rotate(0);
  }

  /* line 154, ../../app/styles/main.scss */
  to {
    transform: rotate(30deg);
  }
}

@-moz-keyframes player-walk-right {
  /* line 160, ../../app/styles/main.scss */
  from {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 163, ../../app/styles/main.scss */
  to {
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@-webkit-keyframes player-walk-right {
  /* line 160, ../../app/styles/main.scss */
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 163, ../../app/styles/main.scss */
  to {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@-o-keyframes player-walk-right {
  /* line 160, ../../app/styles/main.scss */
  from {
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 163, ../../app/styles/main.scss */
  to {
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@-ms-keyframes player-walk-right {
  /* line 160, ../../app/styles/main.scss */
  from {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 163, ../../app/styles/main.scss */
  to {
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@keyframes player-walk-right {
  /* line 160, ../../app/styles/main.scss */
  from {
    transform: rotate(0);
  }

  /* line 163, ../../app/styles/main.scss */
  to {
    transform: rotate(-30deg);
  }
}
